# Configuration
CB_USER=my_user # The user under which cbftp is executed
CB_SERVICE=cbftp.service # Service name, if you are using a systemctl service
CB_SCREEN=cbftp # Screen name, if you are not using a systemctl service
CB_DIR_SRC="/path/to/source/directory" # Directory where the cbftp source is located
CB_DIR_DEST="/path/to/destination/directory" # Directory where the cbftp binary will be placed
CB_SVN_URL="https://cbftp.glftpd.io/svn" # without the /cbftp ending1
CB_WEBSITE="https://cbftp.glftpd.io/"  # URL of the website
